@import '../../themes/themes.scss';

.card {
  display: inline-block;
  min-height: 14em;
  min-width: 12em;
  border-radius: $borderRadius;
  margin-bottom: 1em;
  font-family: $bodyFontFamily;
  width: 24%;
  @media only screen and (max-width: 800px) {
    width: 32%;
  }
  @media only screen and (max-width: 700px) {
    width: 48%;
  }
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  &.fill {
    flex: auto;
    margin: 0 1em;
    @media only screen and (max-width: 800px) {
      width: 100%;
      margin: 0;
      margin-bottom: 1em;
    }
    @media only screen and (max-width: 700px) {
      width: 100%;
    }
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  

  a {
    color: black;
  }

  ul {
    padding-left: 1em;
    list-style-type: none;
    li {
      line-height: 2em;
      margin-bottom: 1em;
    }
  }
  &:nth-of-type(1) {
    background: $cardBackground1;
    @include themify($themes) { 
      background-color: themed('cardBackground1');  
    }
  }
  
  &:nth-of-type(2) {
    background: $cardBackground2;
    @include themify($themes) { 
      background-color: themed('cardBackground2');  
    }
  }
  
  &:nth-of-type(3) {
    background: $cardBackground3;
    @include themify($themes) { 
      background-color: themed('cardBackground3');  
    }
  }
  
  &:nth-of-type(4) {
    background: $cardBackground4;
    @include themify($themes) { 
      background-color: themed('cardBackground4');  
    }
  }
  
  &:nth-of-type(5) {
    background: $cardBackground5;
    @include themify($themes) { 
      background-color: themed('cardBackground5');  
    }
  }
  
  &:nth-of-type(6) {
    background: $cardBackground6;
    @include themify($themes) { 
      background-color: themed('cardBackground6');  
    }
  } 

  &:nth-of-type(7) {
    background: $cardBackground7;
    @include themify($themes) { 
      background-color: themed('cardBackground7');  
    }
  }  
}

.cardTitle {
  font-family: $titleFontFamily;
  margin-top: 0;
  background-color: $cardTitleBackgroundColor;
  color: $cardTitleColor;
  padding: 0.5em;
  border-radius: $borderRadius;
  &:hover {
    background-color: $cardTitleHoverBackgroundColor;
  }
}


