@import './themify.scss';

$borderRadius: 3px;

$titleFontFamily: 'Raleway', sans-serif;
$bodyFontFamily: 'Raleway', sans-serif;
$headerTitleFontFamily: 'Raleway', sans-serif;

$introBackground: #f3eee4;

$cardTitleColor: white;
$cardTitleBackgroundColor: rgba(0,0,0, 0.5);
$cardTitleHoverBackgroundColor: rgba(0,0,0, 0.7);

$progressBackgroundColor: rgba(255,255,255, 0.7);
$progressColor:  rgba(0,0,0, 0.5);
$progressHoverColor: yellow;

$markColor: yellow;

$cardBackground1: #ef476f;
$cardBackground2: #ffd166;
$cardBackground3:  #06d6a0;
$cardBackground4:  #118ab2;
$cardBackground5: #afaead;
$cardBackground6: #ffd166;
$cardBackground7: #06d6a0;

$checkboxBackground: white;
$checkboxHoverBackground: #ffd166;
$checkboxCheckedBackground: #06d6a0;

$timezoneBottomColor: rgba(0, 255, 0, 0.6);
$timezoneTopColor: rgba(0, 0, 255, 0.6);

$themes: (
  atlanta: (
    backgroundColor: #fff,
    portraitBackgroundColor: #b6a1ce,
    cardTitleBackgroundColor: rgba(0,0,0, 0.5),
    cardTitleBackgroundHoverColor: rgba(0,0,0, 0.7),
    cardBackground1: #ef476f,
    cardBackground2: #ffd166,
    cardBackground3:  #06d6a0,
    cardBackground4:  #118ab2,
    cardBackground5: #ffd166,
    cardBackground6: #ef476f,
    cardBackground7: #06d6a0,
    checkboxBackground: white,
    checkboxHoverBackground: #118ab2,
    checkboxCheckedBackground: #06d6a0,
    headerTitleColor: #131319,
    markColor: yellow,
    timezoneBottomColor: #06d6a0,
    timezoneTopColor: #ef476f,
    introBackground: #f3eee4,
  ),
  serious: (
    backgroundColor: #fff,
    portraitBackgroundColor: #C5C5C5,
    portraitBackground: url('/office.jpg') bottom,
    cardTitleBackgroundColor: rgba(0,0,0, 0.8),
    cardTitleBackgroundHoverColor: rgba(0,0,0, 1),
    cardBackground1: #c6cfde,
    cardBackground2: #ddd,
    cardBackground3:  #c6cfde,
    cardBackground4:  #ddd,
    cardBackground5: #c6cfde,
    cardBackground6: #ddd,
    cardBackground7:  #c6cfde,
    headerTitleColor: black,
    markColor: yellow,
    timezoneBottomColor: #4d4d9c,
    timezoneTopColor:#397339,
    checkboxBackground: white,
    checkboxHoverBackground: #ddd,
    checkboxCheckedBackground: #aaa,
    introBackground: #ededed,
  ),
  monokai: (
    backgroundColor: #38220f,
    portraitBackgroundColor: #78dce8,
    cardTitleBackgroundColor: rgba(0,0,0, 0.5),
    cardTitleBackgroundHoverColor: rgba(0,0,0, 0.7),
    cardBackground1: #ff6188,
    cardBackground2: #a9dc76,
    cardBackground3:  #ab9df2,
    cardBackground4:  #fc9867,
    cardBackground5: #ffd866,
    cardBackground6: #78dce8,
    cardBackground7:  #a9dc76,
    headerTitleColor: #ab9df2,
    markColor: yellow,
    timezoneBottomColor: #a9dc76,
    timezoneTopColor: #ab9df2,
    checkboxBackground: white,
    checkboxHoverBackground: #ab9df2,
    checkboxCheckedBackground: #a9dc76,
    introBackground: #fff,
  ),
  dracula: (
    backgroundColor: #282a36,
    portraitBackgroundColor: #6272a4,
    portraitBackground: url('/dracula.jpg') right,
    cardTitleBackgroundColor: rgba(0,0,0, 0.5),
    cardTitleBackgroundHoverColor: rgba(0,0,0, 0.7),
    cardBackground1: #8be9fd,
    cardBackground2: #50fa7b,
    cardBackground3:  #ffb86c,
    cardBackground4: #ff79c6,
    cardBackground5:#bd93f9,
    cardBackground6: #ff5555,
    cardBackground7: #f1fa8c,
    headerTitleColor:#ffb86c,
    markColor: yellow,
    timezoneBottomColor: #8be9fd,
    timezoneTopColor: #50fa7b,
    checkboxBackground: white,
    checkboxHoverBackground: #ffb86c,
    checkboxCheckedBackground: #50fa7b,
    introBackground: #fff,
  ),
);