@import '../../themes/themes.scss';

.skill:hover {
  cursor: pointer;
  .progress {
    background-color: $progressHoverColor;
    @include themify($themes) { 
      background-color: themed('progressHoverColor'); 
    }
  }
}
