@import '../../themes/themes.scss';

.checkbox {
  position: absolute; 
  opacity: 0;
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
  
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: $borderRadius;
    background: $checkboxBackground;
    @include themify($themes) { 
      background: themed('checkboxBackground');  
    }
  }
  
  &:hover + label:before {
    background: $checkboxHoverBackground;
    @include themify($themes) { 
      background: themed('checkboxHoverBackground');  
    }
  }
    
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  
  &:checked + label:before {
    background: $checkboxCheckedBackground;
    @include themify($themes) { 
      background: themed('checkboxCheckedBackground');  
    }
  }
  
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 $checkboxBackground,
      4px 0 0 $checkboxBackground,
      4px -2px 0 $checkboxBackground,
      4px -4px 0 $checkboxBackground,
      4px -6px 0 $checkboxBackground,
      4px -8px 0 $checkboxBackground;
    transform: rotate(45deg);
    background: $checkboxBackground;
    @include themify($themes) { 
      background: themed('checkboxBackground');
      box-shadow: 
      2px 0 0 themed('checkboxBackground'),
      4px 0 0 themed('checkboxBackground'),
      4px -2px 0 themed('checkboxBackground'),
      4px -4px 0 themed('checkboxBackground'),
      4px -6px 0 themed('checkboxBackground'),
      4px -8px 0 themed('checkboxBackground');
    }
  }
}

