ul.checkboxes {
  list-style-type: none;
  padding-left: .5em;
}

.card .wishlist {
  height: 2em;
  span {
    display: inline-block;
    animation: rotate 2s ease-in-out infinite;
    animation-direction: alternate-reverse;
  }
}

@keyframes rotate {
  from {
    transform: scale(1);
    transform-origin: center center;
  }
  to {
    transform: scale(0.6);
    transform-origin: center center;
  }
}