ul.checkboxes {
  list-style-type: none;
  padding-left: 0;
  padding-right: 1em;
}

.card .stars {
  height: 2em;
  margin: 0 2em 0 0;
  text-align: center;
  span.star {
    display: inline-block;
  }
}