ul.checkboxes {
  list-style-type: none;
  padding-right: 1em;
  li {
    line-height: 3em;
  }
}

.card .stars {
  text-align: center;
  height: 3em;
  padding-bottom: 1em;
  span.star {
    display: inline-block;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.4);
    padding: 0.1em;
  }
}