@import './themes/themes.scss';

body {
  width: 100%;
}

mark {
  display: inline-block;
  position: relative;
  background: transparent;
  z-index: 0;
  &:before {
    display: inline-block;
    position: absolute;
    z-index: -1;
    background: $markColor;
    content: "";
    opacity: .5;
    height: 60%;
    width: 100%;
    left: 0;
    transform: rotate(5deg) translatey(0.25em);
  }
  &:after {
    display: inline-block;
    position: absolute;
    z-index: -1;
    background: $markColor;
    content: "";
    opacity: .3;
    height: 80%;
    width: 100%;
    left: 0;
    transform: rotate(0deg) translatey(0em);
  }
}

