$borderRadius: 3px;

$titleFontFamily: 'Raleway', sans-serif;
$bodyFontFamily: 'Raleway', sans-serif;
$headerTitleFontFamily: 'Raleway', sans-serif;

$cardTitleColor: white;
$cardTitleBackgroundColor: rgba(0,0,0, 0.5);
$cardTitleHoverBackgroundColor: rgba(0,0,0, 0.7);

$progressBackgroundColor: rgba(255,255,255, 0.7);
$progressColor:  rgba(0,0,0, 0.5);
$progressHoverColor: yellow;

$markColor: yellow;

$pastelBackground1: #d5f6ca;
$pastelBackground2: #cadff6;
$pastelBackground3:  #fee5fc;
$pastelBackground4:  #ade6d9;
$pastelBackground5: #e3deff;
$pastelBackground6: #faffde;
$checkboxBackground: white;
$checkboxHoverBackground: #94949459;
$checkboxCheckedBackground: grey;