@import '../../themes/themes.scss';

.timezones {
  padding: 0 1em;
  text-align: center;
}

.hour {
  font-family: $bodyFontFamily;
  display: inline-block;
  width: 3.8%;
  height: 1em;
  text-align: center;
  padding: 0;
  background-color: rgba(255,255,255,0.6);
  border-left: 1px solid lightgrey;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  &:hover {
    background-color: rgba(255, 255, 0, 0.7);
  }
}

.label {
  font-size: .75em;
  height: 1em;
  display: inline-block;
  position: absolute;
  width: 3.8%;
  text-align: center;
  padding: 0;
  margin: .6em -1.9%; // 3.8%/2

}
.markedOnTop {
  border-top: 1em solid $timezoneBottomColor;
  @include themify($themes) { 
    border-top: 1em solid themed('timezoneTopColor'); 
  }
  &:hover, &:focus {
    border-top: 1em solid $markColor;
    @include themify($themes) { 
      border-top: 1em solid themed('markColor'); 
    }
  }
}

.markedAtBottom {
  border-bottom: 1em solid $timezoneBottomColor;
  @include themify($themes) { 
    border-bottom: 1em solid themed('timezoneBottomColor'); 
  }
  &:hover, &:focus {
    border-bottom: 1em solid $markColor;
    @include themify($themes) { 
      border-bottom: 1em solid themed('markColor'); 
    }
  }
}

ul.legend {
  text-align: left;
  margin-top: 0;
  display: inline-block;
  font-size: 0.7em;
  background-color: rgba(255,255,255,0.3);
  padding: .5em 12px;
  margin-bottom: 1em;
  width: 3.8%*24;
  li {
    display: inline-block;
    margin: 1em;
    line-height: 1em;
    margin-bottom: 0;
  }
  .markedOnTop {
    display: inline-block;
    width: 1em;
    margin: -0.1em 0.5em;
  }
  .markedAtBottom {
    display: inline-block;
    width: 1em;
    margin: -0.1em 0.5em;
  }
}





