@import '../../themes/themes.scss';

.portrait {
  max-width: 18em;
  border-radius: 5px;
  @include themify($themes) { 
    background-color: themed('portraitBackgroundColor');  
  }
}

.colorPickerTrigger, .colorPickerTrigger:focus {
  position: absolute;
  color: white;
  background: rgba(138, 138, 138, 0.6);
  border: none;
  border-radius: $borderRadius;
  outline: none;
  text-transform: uppercase;
  font-size: 0.7em;
  cursor: pointer;
}