@import '../../themes/themes.scss';

.portraitWrapper {
  position: relative;
  width: 14em;
  border-radius: $borderRadius;
  @include themify($themes) { 
    background-color: themed('portraitBackgroundColor');  
    background: themed('portraitBackground');
    background-size: cover;
  }
}

.portrait {
  max-width: 12em;
  border-radius: $borderRadius;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}